* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0px;
}

p {
  padding: 0px;
}

button {
  cursor: pointer;
}
